/*
Name: 			style.scss
Written by: 	Ahmed Osama Bedawy - (https://github.com/ahmeddoosama)
*/
/* Colors */
/*
*
*** Media Quariy
*
*/
/* Colors */
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  font-family: Poppins, sans-serif;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

img {
  max-width: 100%;
}

.paragraph {
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
}

.heading {
  font-size: 35px;
  font-weight: 700;
  color: #595C61;
  margin-bottom: 45px;
}

.title {
  color: #595C61;
  font-weight: 600;
  font-size: 20px;
}

/* Colors */
/*
*
*** Media Quariy
*
*/
/* Colors */
.btn {
  color: #EB586F;
  background-color: unset;
  border-radius: 0;
  width: auto;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #EB586F;
}
.btn:hover {
  color: #EB586F;
  opacity: 0.5;
}

.btn-down {
  margin-top: 20px;
  padding: 9px 30px;
}
@media only screen and (max-width: 600px) {
  .btn-down {
    margin-top: 0;
    padding: 4px 7px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 768px) {
  .btn-down {
    margin-top: 5px;
    padding: 8px 20px;
  }
}

/* ========== Contain navbar style ========== */
/* Colors */
/*
*
*** Media Quariy
*
*/
/* Colors */
/* ========== Navbar ========== */
.main-nav {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1030;
}
.main-nav .navbar-brand {
  color: #EB586F;
}
.main-nav .navbar-collapse {
  flex-grow: 0;
}
.main-nav .navbar-collapse .navbar-nav .active .nav-link {
  color: #EB586F;
}
.main-nav .navbar-collapse .navbar-nav .nav-link {
  color: #FFF;
}
.main-nav .navbar-collapse .navbar-nav .nav-link:hover, .main-nav .navbar-collapse .navbar-nav .nav-link:focus {
  color: #EB586F;
}
@media only screen and (max-width: 600px) {
  .main-nav {
    background-color: #282828;
  }
}
@media only screen and (max-width: 768px) {
  .main-nav {
    background-color: #282828;
  }
}

/* ========== Contain navbar style ========== */
/* Colors */
/*
*
*** Media Quariy
*
*/
/* Colors */
/* ========== Header ========== */
.main-header .carousel .carousel-item .carousel-caption {
  top: 25%;
  bottom: 0;
}
.main-header .carousel .carousel-item .carousel-caption h1 {
  font-size: 55px;
  line-height: 1.9;
}
@media only screen and (max-width: 600px) {
  .main-header {
    position: relative;
    top: 54px;
    margin-bottom: 25px;
  }
  .main-header .carousel .carousel-item .carousel-caption {
    top: 0;
  }
  .main-header .carousel .carousel-item .carousel-caption h1 {
    font-size: 20px;
  }
  .main-header .carousel .carousel-item .carousel-caption p {
    font-size: 9px;
  }
}
@media only screen and (max-width: 768px) {
  .main-header .carousel .carousel-item .carousel-caption h1 {
    font-size: 35px;
  }
  .main-header .carousel .carousel-item .carousel-caption p {
    font-size: 15px;
  }
}

/* ========== Contain Home style ========== */
/* Colors */
/*
*
*** Media Quariy
*
*/
/* Colors */
main {
  /* ========== About Section ========== */
  /* ========== services Section ========== */
  /* ========== portfolio Section ========== */
  /* ========== statistics Section ========== */
  /* ========== Our Team Section ========== */
  /* ========== Price Table Section ========== */
  /* ========== Price Testimonials Section ========== */
  /* ========== Price Contact-US Section ========== */
  /* ========== Price Contact-US Section ========== */
}
main > section {
  padding: 60px 0;
  text-align: center;
}
main .about {
  background-color: #F5F5F5;
}
main .about img {
  height: 90px;
  margin-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
