/*
Name: 			style.scss
Written by: 	Ahmed Osama Bedawy - (https://github.com/ahmeddoosama)
*/
/* Colors */
/*
*
*** Media Quariy
*
*/
/* Colors */
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  font-family: Poppins, sans-serif;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

img {
  max-width: 100%;
}

.paragraph {
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
}

.heading {
  font-size: 35px;
  font-weight: 700;
  color: #595C61;
  margin-bottom: 45px;
}

.title {
  color: #595C61;
  font-weight: 600;
  font-size: 20px;
}

[class^=imghvr-],
[class*=" imghvr-"] {
  background-color: #595C61;
}

[class^=imghvr-] figcaption,
[class*=" imghvr-"] figcaption {
  background-color: #282828 !important;
}

#scroll-top {
  background-color: #e90c59;
  color: #FFF;
  font-size: 15px;
  width: 30px;
  height: 30px;
  text-align: center;
  position: fixed;
  z-index: 999;
  right: 20px;
  border-radius: 50%;
  padding-top: 4px;
  cursor: pointer;
  bottom: 10px;
  display: none;
  opacity: 0.8;
}

@keyframes preloader-o {
  0% {
    opacity: 1;
    transform: translate(0 0);
  }
  49.99% {
    opacity: 1;
    transform: translate(24px, 0);
  }
  50% {
    opacity: 0;
    transform: translate(24px, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 0);
  }
}
@keyframes preloader {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(24px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
.preloader div {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  top: 38px;
  left: 26px;
}

.preloader div:nth-child(1) {
  background: #e90c59;
  animation: preloader 1s linear infinite;
  animation-delay: -0.5s;
}

.preloader div:nth-child(2) {
  background: #FFF;
  animation: preloader 1s linear infinite;
  animation-delay: 0s;
}

.preloader div:nth-child(3) {
  background: #e90c59;
  animation: preloader-o 1s linear infinite;
  animation-delay: -0.5s;
}

.loader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  position: fixed;
  background-color: #1D1D1D;
}

.preloader {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateZ(0) scale(0.84);
  transform-origin: 0 0;
}

.preloader div {
  box-sizing: content-box;
}

/* Colors */
/*
*
*** Media Quariy
*
*/
/* Colors */
.btn {
  color: #e90c59;
  background-color: unset;
  border-radius: 0;
  width: auto;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #e90c59;
}
.btn:hover {
  color: #e90c59;
  opacity: 0.5;
}

.btn-down {
  margin-top: 20px;
  padding: 9px 30px;
}
@media only screen and (max-width: 600px) {
  .btn-down {
    margin-top: 0;
    padding: 4px 7px;
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .btn-down {
    margin-top: 5px;
    padding: 8px 20px;
  }
}

.hover-btn {
  height: 40px;
  width: 130px;
  top: 40% !important;
  left: 30% !important;
  cursor: pointer;
}
.hover-btn:hover {
  background-color: #e90c59;
  color: #FFF;
  opacity: 1;
}

.btn-person-social {
  position: static !important;
  width: 35px;
  height: 35px;
  margin-top: 40%;
  cursor: pointer;
}
.btn-person-social:hover {
  background-color: #e90c59;
  color: #FFF;
  opacity: 1;
}

/* ========== Contain navbar style ========== */
/* Colors */
/*
*
*** Media Quariy
*
*/
/* Colors */
/* ========== Navbar ========== */
.main-nav {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1030;
}
.main-nav .navbar-brand {
  color: #e90c59;
}
.main-nav .navbar-collapse {
  flex-grow: 0;
}
.main-nav .navbar-collapse .navbar-nav .active .nav-link {
  color: #e90c59;
}
.main-nav .navbar-collapse .navbar-nav .nav-link {
  color: #FFF;
}
.main-nav .navbar-collapse .navbar-nav .nav-link:hover, .main-nav .navbar-collapse .navbar-nav .nav-link:focus {
  color: #e90c59;
}
@media only screen and (max-width: 600px) {
  .main-nav {
    background-color: #282828;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .main-nav {
    background-color: #282828;
  }
}

/* ========== Contain navbar style ========== */
/* Colors */
/*
*
*** Media Quariy
*
*/
/* Colors */
/* ========== Header ========== */
.main-header .carousel .carousel-item .carousel-caption {
  top: 25%;
  bottom: 0;
}
.main-header .carousel .carousel-item .carousel-caption h1 {
  font-size: 55px;
  line-height: 1.9;
}
@media only screen and (max-width: 600px) {
  .main-header {
    position: relative;
    top: 54px;
    margin-bottom: 25px;
  }
  .main-header .carousel .carousel-item .carousel-caption {
    top: 0;
  }
  .main-header .carousel .carousel-item .carousel-caption h1 {
    font-size: 20px;
  }
  .main-header .carousel .carousel-item .carousel-caption p {
    font-size: 9px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .main-header .carousel .carousel-item .carousel-caption h1 {
    font-size: 35px;
  }
  .main-header .carousel .carousel-item .carousel-caption p {
    font-size: 15px;
  }
}

/* ========== Contain Home style ========== */
/* Colors */
/*
*
*** Media Quariy
*
*/
/* Colors */
main {
  /* ========== About Section ========== */
  /* ========== services Section ========== */
  /* ========== portfolio Section ========== */
  /* ========== statistics Section ========== */
  /* ========== Our Team Section ========== */
  /* ========== Price Table Section ========== */
  /* ========== Price Testimonials Section ========== */
  /* ========== Price Contact-US Section ========== */
  /* ========== Price Contact-US Section ========== */
}
main > section {
  padding: 60px 0;
  text-align: center;
}
main .about {
  background-color: #F5F5F5;
}
main .about img {
  height: 90px;
  margin-bottom: 20px;
}
main .about .card-hover {
  padding: 20px;
}
main .about .card-hover:hover {
  box-shadow: 0 5px 15px 0 rgba(110, 110, 110, 0);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 5px 15px 0 rgba(110, 110, 110, 0.4);
}
@media only screen and (max-width: 600px) {
  main .about {
    padding: 60px 10px 0 10px;
  }
}
main .our-services .cards,
main .feature .cards {
  text-align: start;
  position: relative;
  padding: 15px;
}
main .our-services .cards .icons,
main .feature .cards .icons {
  position: absolute;
  font-size: 25px;
  color: #e90c59;
}
main .our-services .cards .content,
main .feature .cards .content {
  margin-left: 40px;
}
main .our-services .cards:hover,
main .feature .cards:hover {
  box-shadow: 0 5px 15px 0 rgba(110, 110, 110, 0);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 5px 15px 0 rgba(110, 110, 110, 0.4);
}
@media only screen and (max-width: 600px) {
  main .our-services,
main .feature {
    padding-right: 15px;
    padding-left: 15px;
  }
}
main .portfolio {
  background-color: #F5F5F5;
}
main .portfolio .portfolio-nav {
  margin-top: 40px;
  margin-bottom: 50px;
}
main .portfolio .portfolio-nav .portfolio-nav-item {
  border: 2px solid #e90c59;
  cursor: pointer;
  margin-left: 10px;
  padding: 5px 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
main .portfolio .portfolio-nav .portfolio-nav-item:active, main .portfolio .portfolio-nav .portfolio-nav-item:hover {
  background-color: #e90c59;
  color: #FFF;
}
main .portfolio .shuffle-images .row {
  margin: 0;
}
main .portfolio .shuffle-images .row .col-md {
  padding: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
main .portfolio .shuffle-images .row .col-md img {
  height: 280px;
  width: 100%;
}
main .statistics {
  background: url("../images/cover/HeroImage.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 300px;
  color: #FFF;
  padding: 0;
}
main .statistics .overlay-background {
  padding: 115px 0;
  background: rgba(2, 2, 2, 0.8);
  min-height: 300px;
}
main .statistics span {
  font-size: 40px;
  color: #e90c59;
}
main .statistics .title {
  font-size: 45px;
  color: #FFF;
  line-height: 1.8;
}
main .statistics .title::after {
  content: "";
  width: 30px;
  position: absolute;
  margin: 0 auto;
  height: 2px;
  background: #FFF;
  left: 0;
  right: 0;
  bottom: 50px;
}
main .statistics .overlay {
  background-color: rgba(2, 2, 2, 0.8);
}
@media only screen and (max-width: 600px) {
  main .statistics .statistic {
    padding-bottom: 30px;
  }
  main .statistics .statistic .title::after {
    bottom: 80px;
  }
}
main .our-team {
  background-color: #F5F5F5;
}
main .price-table .card {
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(110, 110, 110, 0.2);
  max-width: 30.333333%;
  margin-right: 3%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
main .price-table .card h5,
main .price-table .card h6,
main .price-table .card ul > li {
  margin-bottom: 30px;
}
main .price-table .card .card-body .card-subtitle {
  font-size: 55px;
  font-weight: 600;
}
main .price-table .card .card-body ul > li i {
  margin-right: 5px;
}
main .price-table .card:hover {
  background-color: #e90c59;
  color: #FFF;
}
main .price-table .card:hover .title {
  color: #FFF;
}
main .price-table .card:hover .btn-card {
  background-color: #FFF;
  color: #e90c59;
}
@media only screen and (max-width: 600px) {
  main .price-table .card {
    max-width: 90%;
    margin: 10px auto;
  }
}
main .testimonials {
  padding: 0;
  background: url("../images/cover/HeroImage.jpg") no-repeat center center fixed;
  background-size: cover;
}
main .testimonials .overlay-background {
  padding: 60px 0;
  background: rgba(2, 2, 2, 0.8);
}
main .testimonials .carousel .item {
  color: #FFF;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 290px;
}
main .testimonials .carousel .item .paragraph {
  padding: 30px 0 10px;
}
main .testimonials .carousel .item .img-box {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #F5F5F5;
  border-radius: 50%;
  margin-bottom: 20px;
}
main .testimonials .carousel .item .img-box img {
  border-radius: 50%;
}
main .testimonials .carousel .item .overview {
  font-style: italic;
}
main .testimonials .carousel .item .overview b {
  text-transform: uppercase;
  color: #e90c59;
}
main .contact-us {
  text-align: start;
}
main .contact-us .heading {
  text-align: center;
}
main .contact-us .sub-titles {
  color: #1D1D1D;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 30px;
}
main .contact-us form .form-control {
  border-radius: 0;
}
main .contact-us form textarea {
  max-width: 100%;
  margin: 10px 0;
}
main .contact-us .details .paragraph {
  line-height: 2.7;
}
main .contact-us .socilaMedia-icon > a {
  color: #282828;
  margin-right: 20px;
  font-size: 20px;
}
main .contact-us .socilaMedia-icon > a:hover {
  color: #e90c59;
}
@media only screen and (max-width: 600px) {
  main .contact-us .touch {
    margin-bottom: 60px;
  }
}
main .main-footer {
  text-align: start;
  color: #FFF !important;
}
main .main-footer .top-footer {
  background-color: #282828;
  padding: 30px 0 20px 0;
}
main .main-footer .top-footer .side-left {
  margin-bottom: 40px;
}
main .main-footer .top-footer .title {
  color: #FFF;
  padding-bottom: 10px;
}
main .main-footer .top-footer .links {
  color: #FFF;
  line-height: 2.2;
}
main .main-footer .top-footer .links:hover {
  color: #e90c59;
}
main .main-footer .top-footer .top-gallery {
  margin-bottom: 10px;
}
main .main-footer .top-footer .footer-form .form-control {
  background-color: #1D1D1D;
  color: #FFF;
  border-radius: 0;
  padding: 25px 10px;
}
main .main-footer .bottom-footer {
  background-color: #1D1D1D;
  color: #F5F5F5;
  padding: 15px 0;
  font-weight: 100;
}
main .main-footer .bottom-footer .right {
  text-align: end;
}
main .main-footer .bottom-footer .right a {
  color: #F5F5F5;
  margin-right: 10px;
}
main .main-footer .bottom-footer .right a:hover {
  color: #e90c59;
}
@media only screen and (max-width: 600px) {
  main .main-footer .gallary {
    display: none;
  }
  main .main-footer .bottom-footer .left {
    flex: auto;
    max-width: 100%;
    text-align: center;
  }
  main .main-footer .bottom-footer .right {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
