/* ========== Contain navbar style ========== */
@import '../partials/variables';
@import '../partials/colors';

/* ========== Navbar ========== */
.main-nav {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1030;
    .navbar-brand {
        color: $mainColor;
    }
    .navbar-collapse{
        flex-grow: 0;

        .navbar-nav {
            .active {
                .nav-link {
                    color: $mainColor;
                }
            }
            .nav-link {
                color: $white;
                &:hover,
                &:focus {color: $mainColor;}
            }
        }
    }

    
    // Small Devices
    @media #{$extraSmall} {
        background-color: $dimgray;
    }

    // Medium Devices
    @media #{$mediumScreen} {
        background-color: $dimgray;
    }
    
}