// desc: 'Contain buttons styles'

// Button Variables
@import '../partials/variables';
@import '../partials/colors';


// Button Style
.btn {
    color: $mainColor;
    background-color: unset;
    border-radius: 0;
    width: auto;
    outline: none;
    cursor: pointer;
    text-align: $text-align-center;
    text-decoration: none;
    display: inline-block;
    border: $border-btn;
    &:hover {
        color: $mainColor;
        opacity: .5;
    }
}

.btn-down {
    margin-top: 20px;
    padding: $padding-btn-down;
    // Small Devices
    @media #{$extraSmallDevices} {
        margin-top: 0;
        padding: 4px 7px;
        font-size: 12px;
    }

    @media #{$MediumDevices} {
        margin-top: 5px;
        padding: 8px 20px;
    }
}