// desc: 'Contain all utility classes'
@import "../partials/variables";
@import "../partials/colors";

html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}

body {
    font-family: Poppins, sans-serif;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

// overlay
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

// images
img {
    max-width: 100%;
}

// Paragraph
.paragraph {
    font-size: $paragraph-font-size;
    line-height: $paragraph-line-height;
    font-weight: $font-weight-400;
}

// Titles

.heading {
    font-size: $font-size-big-title;
    font-weight: $font-weight-700;
    color: $gray;
    margin-bottom: 45px;
}

.title {
    color: $gray;
    font-weight: $font-weight-600;
    font-size: $font-size-box-title;
}