// desc: 'Contain all utility classes'
@import "../partials/variables";
@import "../partials/colors";

html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}

body {
    font-family: Poppins, sans-serif;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

// overlay
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

// images
img {
    max-width: 100%;
}

// Paragraph
.paragraph {
    font-size: $paragraph-font-size;
    line-height: $paragraph-line-height;
    font-weight: $font-weight-400;
}

// Titles

.heading {
    font-size: $font-size-big-title;
    font-weight: $font-weight-700;
    color: $gray;
    margin-bottom: 45px;
}

.title {
    color: $gray;
    font-weight: $font-weight-600;
    font-size: $font-size-box-title;
}

// Animate
[class^='imghvr-'],
[class*=' imghvr-'] {
    background-color: $gray;
}

[class^='imghvr-'] figcaption,
[class*=' imghvr-'] figcaption {
    background-color: $dimgray !important;
}

// Scroll-top
#scroll-top {
    background-color: $mainColor;
    color: $white;
    font-size: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    position: fixed;
    z-index: 999;
    right: 20px;
    border-radius: 50%;
    padding-top: 4px;
    cursor: pointer;
    bottom: 10px;
    display: none;
    opacity: 0.8;
}


// Loading Page
@keyframes preloader-o {
    0% {
        opacity: 1;
        transform: translate(0 0)
    }

    49.99% {
        opacity: 1;
        transform: translate(24px, 0)
    }

    50% {
        opacity: 0;
        transform: translate(24px, 0)
    }

    100% {
        opacity: 0;
        transform: translate(0, 0)
    }
}

@keyframes preloader {
    0% {
        transform: translate(0, 0)
    }

    50% {
        transform: translate(24px, 0)
    }

    100% {
        transform: translate(0, 0)
    }
}

.preloader div {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    top: 38px;
    left: 26px;
}

.preloader div:nth-child(1) {
    background: $mainColor;
    animation: preloader 1s linear infinite;
    animation-delay: -0.5s;
}

.preloader div:nth-child(2) {
    background: $white;
    animation: preloader 1s linear infinite;
    animation-delay: 0s;
}

.preloader div:nth-child(3) {
    background: $mainColor;
    animation: preloader-o 1s linear infinite;
    animation-delay: -0.5s;
}

.loader {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    position: fixed;
    background-color: $darkgray;
}

.preloader {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateZ(0) scale(0.84);
    transform-origin: 0 0;
}

.preloader div {
    box-sizing: content-box;
}