/* ========== Contain Home style ========== */
@import '../partials/variables';
@import '../partials/colors';


main {
    > section {
        padding: $padding-all-section;
        text-align: $text-align-center;
    }

    /* ========== About Section ========== */
    .about {
        background-color: $whitesmoke;
        img {
            height: 90px;
            margin-bottom: 20px;
        }
    }

    /* ========== services Section ========== */
    .our-services,
    .feature {
        .cards {
            text-align: start;
            position: relative;
            .icons {
                position: absolute;
                font-size: 25px;
                color: $mainColor;
            }
            .content {
                margin-left: 40px;
            }
        }
    }

    /* ========== portfolio Section ========== */
    .portfolio {
        background-color: $whitesmoke;
        .portfolio-nav {
            margin-top: 40px;
            margin-bottom: 50px;
            .portfolio-nav-item {
                border: 2px solid $mainColor;
                cursor: pointer;
                margin-left: 10px;
                padding: 5px 0;
                -webkit-transition: all .3s ease-in-out;
                -moz-transition: all .3s ease-in-out;
                -o-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
                &:active,
                &:hover {
                    background-color: $mainColor;
                    color: $white;
                }
            }
        }
        .shuffle-images {
            .row {
                margin: 0;
                .col-md {
                    padding: 0;
                    -webkit-transition: all .5s ease-in-out;
                    -moz-transition: all .5s ease-in-out;
                    -o-transition: all .5s ease-in-out;
                    transition: all .5s ease-in-out;
                    img {
                        height: 280px;
                        width: 100%;
                    }
                }
            }
        }
    }
}